// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Flash Messages
@import '~vue-flash-message/dist/vue-flash-message.min.css';

.form-error {
    color: red;
    font-size: smaller;
}

.has-error {
    border-color: red;
}
